/*#######################################################
##  	______                           __   ______   ##
##     / ____/___  ____  _ ____  ___    / / /  __   |  ##
##    / __/ / __ \/ __ `/ / __ \/ _ \  / / |  /_/  /   ##
##   / /___/ / / / /_/ / / / / /  __/ / / /  __   |    ##
##  /_____/_/ /_/\__, /_/_/ /_/\___/ / / /  /_/  /     ##
##              /____/ D E S I G N  /_/  \______/      ##
##                                                     ##
##                  engine18design.com                 ##
##                        ©2012                        ##
#######################################################*/
/* TEXT STYLING */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helveticaneue.eot');
  src: url('../fonts/helveticaneue.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue.woff') format('woff'), url('../fonts/helveticaneue.ttf') format('truetype'), url('../fonts/helveticaneue.svg#helveticaneue-roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueGothic';
  src: url('../fonts/leaguegothic.eot');
  src: url('../fonts/leaguegothic.eot?#iefix') format('embedded-opentype'), url('../fonts/leaguegothic.woff') format('woff'), url('../fonts/leaguegothic.ttf') format('truetype'), url('../fonts/leaguegothic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Monaco';
  src: url('../fonts/monaco.eot');
  src: url('../fonts/monaco.eot?#iefix') format('embedded-opentype'), url('../fonts/monaco.woff') format('woff'), url('../fonts/monaco.ttf') format('truetype'), url('../fonts/monaco.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font: 13px/19px HelveticaNeue, Helvetica, Arial, Geneva, sans-serif;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-family: Helvetica, Arial, Geneva, sans-serif;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #000000;
  padding: 5px;
  margin-left: -5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  border-bottom: 1px solid #E4E0DA;
  background-color: #e8e8e8;
  text-decoration: none;
  color: #000000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active {
  background-color: #e8e8e8;
  box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.2);
}
h1 {
  font-size: 28px;
  line-height: 42px;
  padding-top: 7px;
  margin-bottom: 8.484848484848484;
}
h2 {
  font-size: 20px;
  line-height: 30px;
  padding-top: 5px;
}
h3 {
  font-size: 16px;
  line-height: 24px;
  padding-top: 4px;
}
h4 {
  font-size: 14px;
  line-height: 21px;
  padding-top: 3.5px;
}
h5 {
  font-size: 12px;
  line-height: 18px;
  padding-top: 3px;
}
h6 {
  font-size: 10px;
  line-height: 15px;
  padding-top: 2.5px;
}
hr {
  border: 0;
  border-bottom: 2px solid #cccccc;
  margin-bottom: 18px;
}
a {
  color: #0050a3;
  text-decoration: none;
}
a:hover {
  color: #0069d6;
  text-decoration: underline;
}
p {
  margin-bottom: 9px;
}
ul,
ol {
  margin-bottom: 12px;
  margin-left: 40px;
}
.date-comments {
  color: #888888;
  font-size: 13px;
  line-height: 19.5px;
  padding-top: 3.25px;
  padding: 0;
}
blockquote {
  margin: 0 18px 1px;
  padding-left: 10px;
  border-left: 3px solid #cccccc;
}
code,
pre {
  font-family: Monaco, Andale Mono, Courier New, monospace;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
code {
  background-color: #fee9cc;
  color: #303030;
  padding: 1px 3px;
  font-size: 12px;
}
pre {
  background-color: rgba(0, 0, 0, 0);
  display: block;
  line-height: 16px;
  font-size: 11px;
  border: 1px dashed #cccccc;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 10px 15px;
  margin-bottom: 9px;
}
pre code {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}
table.inLineTable {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  color: #000000;
  border: 1px solid #9f9f9f;
}
table.inLineTable thead {
  vertical-align: middle;
  background-color: #00afa0;
  font-weight: normal;
}
table.inLineTable thead td {
  padding: 5px;
  border-bottom: 1px solid #9f9f9f;
}
table.inLineTable tbody {
  vertical-align: text-top;
  background-color: #FFFFFF;
}
table.inLineTable tbody td {
  padding: 5px;
  border-bottom: 1px solid #9f9f9f;
}
.width10 {
  width: 10%;
}
.width35 {
  width: 35%;
}
.alignleft {
  text-align: left;
}
.aligncenter {
  text-align: center;
}
.alignright {
  text-align: right;
}
.vmiddle {
  vertical-align: middle;
}
/* TEXT STYLING END *//* NAV STYLING */
nav {
  text-align: center;
  width: 200px;
  float: left;
  margin-right: 40px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  width: 100%;
  text-align: left;
  padding-top: 20px;
}
nav ul li a.nav-title {
  border-bottom: 2px solid #00afa0;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: LeagueGothic, Helvetica, Arial, Geneva, sans-serif;
}
nav ul li a.nav-title:hover {
  text-decoration: none;
  border-bottom: 2px solid red;
}
nav ul li:hover a.nav-title {
  border-bottom: 2px solid red;
}
nav ul li ul {
  z-index: 1050;
  min-width: 150px;
}
nav ul li ul li {
  padding: 2px 0 0 10px;
  margin-right: 0;
}
nav ul li ul li a {
  color: #505050;
}
/* NAV STYLING END */
#comments {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 2px solid #9f9f9f;
}
#comments h2 {
  padding-top: 15px;
}
#comments .article-comment {
  padding: 10px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  background-color: #e8e8e8;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: none;
}
#comments .article-comment p {
  color: #000000;
}
#comments .article-comment p:last-child {
  padding-bottom: 0px;
}
.comment_form {
  padding-top: 15px;
  border-top: 2px solid #9f9f9f;
}
.comment_form table {
  width: 300px;
  border: 0;
}
.comment_form table tr td {
  padding: 2px;
}
.comment_form table tr td input {
  padding: 2px;
}
.comment_form table tr td textarea {
  padding: 4px;
}
.comment_form table tr td.text {
  text-align: right;
  vertical-align: top;
}
.comment_form table tr td.text p {
  margin: 0;
}
.contact {
  border: none;
  padding-top: 0;
}
.contact table {
  margin: 0 auto;
  width: 300px;
  border: 0;
}
.contact_wide {
  border: none;
  padding-top: 0;
}
.contact_wide table {
  margin: 0 auto;
  width: 400px;
  border: 0;
}
/* Sunburst-like style (c) Vasily Polovnyov <vast@whiteants.net> */
pre .comment,
pre .template_comment,
pre .javadoc {
  color: #aeaeae;
  font-style: italic;
}
pre .keyword,
pre .ruby .function .keyword {
  color: #E28964;
}
pre .function .keyword,
pre .sub .keyword,
pre .method,
pre .list .title {
  color: #99CF50;
}
pre .string,
pre .tag .value,
pre .cdata,
pre .filter .argument,
pre .attr_selector,
pre .apache .cbracket,
pre .date,
pre .tex .command {
  color: #65B042;
}
pre .subst {
  color: #DAEFA3;
}
pre .regexp {
  color: #E9C062;
}
pre .function .title,
pre .sub .identifier,
pre .pi,
pre .tag,
pre .tag .keyword,
pre .decorator,
pre .ini .title,
pre .shebang,
pre .input_number {
  color: #89BDFF;
}
pre .class .title,
pre .haskell .label,
pre .smalltalk .class,
pre .javadoctag,
pre .yardoctag,
pre .phpdoc {
  text-decoration: underline;
}
pre .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .number {
  color: #3387CC;
}
pre .params,
pre .variable {
  color: #3E87E3;
}
pre .css .tag,
pre .rules .property,
pre .pseudo,
pre .tex .special {
  color: #CDA869;
}
pre .css .class {
  color: #9B703F;
}
pre .rules .keyword {
  color: #C5AF75;
}
pre .rules .value {
  color: #CF6A4C;
}
pre .css .id {
  color: #8B98AB;
}
pre .annotation,
pre .apache .sqbracket,
pre .nginx .built_in {
  color: #9B859D;
}
pre .preprocessor {
  color: #8996A8;
}
pre .hexcolor,
pre .css .value .number {
  color: #DD7B3B;
}
pre .css .function {
  color: #DAD085;
}
pre .diff .header,
pre .chunk,
pre .tex .formula {
  background-color: #0E2231;
  color: #F8F8F8;
  font-style: italic;
}
pre .diff .change {
  background-color: #4A410D;
  color: #F8F8F8;
}
pre .addition {
  background-color: #253B22;
  color: #F8F8F8;
}
pre .deletion {
  background-color: #420E09;
  color: #F8F8F8;
}
* {
  margin: 0;
  padding: 0;
}
html {
  overflow-y: scroll;
}
body {
  width: 960px;
  margin: 0 auto;
  background-image: url("../images/texture.png");
}
#body_inner {
  padding: 0px 30px 2px 30px;
  margin: 30px 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
}
header {
  margin-bottom: 15px;
  padding-bottom: 2px;
  border-bottom: 3px solid #00afa0;
}
header #site_title {
  text-align: center;
}
header #site_title a {
  font-size: 68px;
  line-height: 102px;
  padding-top: 17px;
  margin-bottom: 0;
  padding: 0;
  font-weight: bold;
  color: #000000;
  font-family: LeagueGothic, Helvetica, Arial, Geneva, sans-serif;
  text-decoration: none;
  letter-spacing: 8px;
}
#content {
  width: 660px;
  float: left;
  min-height: 700px;
}
article {
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #9f9f9f;
}
article:last-of-type {
  border: none;
}
article h1.center {
  text-align: center;
  margin-bottom: 20px;
}
footer {
  padding: 3px 0;
}
footer small#footer_links {
  display: block;
  font-size: 11px;
  text-align: center;
}
